<h3>Enten-Gerichte</h3>
<p>mit Reis als Beilage</p>
{% include 'asialand/amazon-iframe.html'%}
<ul class="p-0 no-styling">
    <li class="row">
        <span class="col-1">40.</span>
        <span class="col-8 col-md-9"><strong>Knusprige Ente</strong> mit pikanter Soße und Gemüse(leicht scharf)*</span>
        <span class="col-2 text-right price">7.50€</span>
    </li>
    <li class="row">
        <span class="col-1">41.</span>
        <span class="col-8 col-md-9"><strong>Knusprige Ente</strong> mit China-Curry und Gemüse (leicht scharf)*</span>
        <span class="col-2 text-right price">7.90€</span>
    </li>
    <li class="row">
        <span class="col-1">42.</span>
        <span class="col-8 col-md-9"><strong>Knusprige Ente</strong> mit Thai-Curry,Kokosmilch und Gemüse (scharf)*</span>
        <span class="col-2 text-right price">7.90€</span>
    </li>
    <li class="row">
        <span class="col-1">43.</span>
        <span class="col-8 col-md-9"><strong>Knusprige Ente</strong> mit süß-sauerer Soße und Ananas</span>
        <span class="col-2 text-right price">7.50€</span>
    </li>
    <li class="row">
        <span class="col-1">44.</span>
        <span class="col-8 col-md-9"><strong>Knusprige Ente</strong> mit Chop-Suey Gemüse*</span>
        <span class="col-2 text-right price">7.50€</span>
    </li>
    <li class="row">
        <span class="col-1">45.</span>
        <span class="col-8 col-md-9"><strong>Knusprige Ente</strong> mit Erdnuss-Soße und Gemüse*</span>
        <span class="col-2 text-right price">7.90€</span>
    </li>

</ul>
{% include 'asialand/zusaetze.html'%}