<h3>Garnelen-Gerichte</h3>
<p>mit Reis als Beilage</p>
{% include 'asialand/amazon-iframe.html'%}
<ul class="p-0 no-styling">
    <li class="row">
        <span class="col-1">60.</span>
        <span class="col-8 col-md-9"><strong>Garnelen</strong> mit pikanter Soße und Gemüse(leicht scharf)*</span>
        <span class="col-2 text-right price">8.90€</span>
    </li>
    <li class="row">
        <span class="col-1">61.</span>
        <span class="col-8 col-md-9"><strong>Garnelen</strong> mit China-Curry und Gemüse (leicht scharf)*</span>
        <span class="col-2 text-right price">9.30€</span>
    </li>
    <li class="row">
        <span class="col-1">62.</span>
        <span class="col-8 col-md-9"><strong>Garnelen</strong> mit Thai-Curry,Kokosmilch und Gemüse (scharf)*</span>
        <span class="col-2 text-right price">9.30€</span>
    </li>
    <li class="row">
        <span class="col-1">63.</span>
        <span class="col-8 col-md-9"><strong>Garnelen</strong> mit süß-sauerer Soße und Ananas</span>
        <span class="col-2 text-right price">8.90€</span>
    </li>
    <li class="row">
        <span class="col-1">64.</span>
        <span class="col-8 col-md-9"><strong>Garnelen</strong> mit Chop-Suey Gemüse*</span>
        <span class="col-2 text-right price">8.90€</span>
    </li>
    <li class="row">
        <span class="col-1">65.</span>
        <span class="col-8 col-md-9"><strong>Garnelen</strong> mit Erdnuss-Soße und Gemüse*</span>
        <span class="col-2 text-right price">9.30€</span>
    </li>
    <li class="row">
        <span class="col-1">66.</span>
        <span class="col-8 col-md-9"><strong>Garnelen</strong> mit Zwiebeln und Paprika (pikant)*</span>
        <span class="col-2 text-right price">8.90€</span>
    </li>
</ul>
{% include 'asialand/zusaetze.html'%}