<h3>Hühnerfleisch-Gerichte</h3>
<p>mit Reis als Beilage</p>
{% include 'asialand/amazon-iframe.html'%}
<ul class="p-0 no-styling">
    <li class="row">
        <span class="col-1">20.</span>
        <span class="col-8 col-md-9"><strong>Hühnerfleisch Chop-Suey</strong> mit verschiedenem Gemüse*</span>
        <span class="col-2 text-right price">5.50€</span>
    </li>
    <li class="row">
        <span class="col-1">21.</span>
        <span class="col-8 col-md-9"><strong>Hühnerfleisch</strong> mit China-Curry und Gemüse (leicht scharf)*</span>
        <span class="col-2 text-right price">5.90€</span>
    </li>
    <li class="row">
        <span class="col-1">22.</span>
        <span class="col-8 col-md-9"><strong>Hühnerfleisch</strong> mit Thai-Curry,Kokosmilch und Gemüse (scharf)*</span>
        <span class="col-2 text-right price">5.90€</span>
    </li>
    <li class="row">
        <span class="col-1">23.</span>
        <span class="col-8 col-md-9"><strong>Gebackenes Hühnerfleisch</strong> mit pikanter Soße und Gemüse (leicht scharf)*</span>
        <span class="col-2 text-right price">6.50€</span>
    </li>
    <li class="row">
        <span class="col-1">24.</span>
        <span class="col-8 col-md-9"><strong>Gebackenes Hühnerfleisch</strong> mit China-Curry und Gemüse (leicht scharf)*</span>
        <span class="col-2 text-right price">6.90€</span>
    </li>
    <li class="row">
        <span class="col-1">25.</span>
        <span class="col-8 col-md-9"><strong>Gebackenes Hühnerfleisch</strong> mit Thai-Curry, Kokosmilch, Gemüse (scharf)*</span>
        <span class="col-2 text-right price">6.90€</span>
    </li>
    <li class="row">
        <span class="col-1">26.</span>
        <span class="col-8 col-md-9"><strong>Gebackenes Hühnerfleisch</strong> mit süß-sauerer Soße und Ananas</span>
        <span class="col-2 text-right price">6.50€</span>
    </li>
    <li class="row">
        <span class="col-1">27.</span>
        <span class="col-8 col-md-9"><strong>Gebackenes Hühnerfleisch</strong> mit Chop-Suey Gemüse*</span>
        <span class="col-2 text-right price">6.50€</span>
    </li>
    <li class="row">
        <span class="col-1">28.</span>
        <span class="col-8 col-md-9"><strong>Gebackenes Hühnerfleisch</strong> mit Erdnuss-Soße und Gemüse*</span>
        <span class="col-2 text-right price">6.90€</span>
    </li>
</ul>
{% include 'asialand/zusaetze.html'%}