<h3>Nudel-Gerichte</h3>
{% include 'asialand/amazon-iframe.html'%}
<ul class="p-0 no-styling">
    <li class="row">
        <span class="col-1">9.</span>
        <span class="col-8 col-md-9"><strong>CHINA-Pfanne:</strong> Hühnerfleisch in Chop-Suey mit gebrantenen Nudeln*</span>
        <span class="col-2 text-right price">5.00€</span>
    </li>
    <li class="row">
        <span class="col-1">10.</span>
        <span class="col-8 col-md-9"><strong>Gebratene Nudeln</strong> mit Ei und Gemüse</span>
        <span class="col-2 text-right price">3.00€</span>
    </li>
    <li class="row">
        <span class="col-1">11.</span>
        <span class="col-8 col-md-9"><strong>Gebratene Nudeln</strong> mit Hühnerfleisch und Gemüse*</span>
        <span class="col-2 text-right price">4.20€</span>
    </li>
    <li class="row">
        <span class="col-1">12.</span>
        <span class="col-8 col-md-9"><strong>Gebratene Nudeln</strong> mit Schweinefleisch und Gemüse*</span>
        <span class="col-2 text-right price">4.20€</span>
    </li>
    <li class="row">
        <span class="col-1">13.</span>
        <span class="col-8 col-md-9"><strong>Gebratene Nudeln</strong> mit gebackenem Hühnerfleisch* (süß-sauere Soße oder Pikante Soße nach Wahl)</span>
        <span class="col-2 text-right price">5.90€</span>
    </li>
    <li class="row">
        <span class="col-1">14.</span>
        <span class="col-8 col-md-9"><strong>Gebratene Nudeln</strong> mit knuspriger Ente* (süß-sauere Soße oder Pikante Soße nach Wahl)</span>
        <span class="col-2 text-right price">6.90€</span>
    </li>
    <li class="row">
        <span class="col-1">14A.</span>
        <span class="col-8 col-md-9"><strong>Bami-Goreng</strong> gebratene Nudeln mit Hühner-, Schweinefleisch und Curry (leicht scharf)*</span>
        <span class="col-2 text-right price">5.20€</span>
    </li>
    <li class="row">
        <span class="col-1">14B.</span>
        <span class="col-8 col-md-9"><strong>Gebratene Nudeln</strong> mit Garnelen und Gemüse*</span>
        <span class="col-2 text-right price">6.90€</span>
    </li>
    <li class="row">
        <span class="col-1">14C.</span>
        <span class="col-8 col-md-9"><strong>Gebratene Nudeln</strong> mit Rindfleisch und Gemüse*</span>
        <span class="col-2 text-right price">5.90€</span>
    </li>
</ul>
{% include 'asialand/zusaetze.html'%}