<h3>Reis-Gerichte</h3>
{% include 'asialand/amazon-iframe.html'%}
<ul class="p-0 no-styling">
    <li class="row">
        <span class="col-1">15.</span>
        <span class="col-8 col-md-9"><strong>Gebratener Reis</strong> mit Eiern und Gemüse*</span>
        <span class="col-2 text-right price">3.00€</span>
    </li>
    <li class="row">
        <span class="col-1">16.</span>
        <span class="col-8 col-md-9"><strong>Gebratener Reis</strong> mit Hühnerfleisch und Gemüse*</span>
        <span class="col-2 text-right price">4.20€</span>
    </li>
    <li class="row">
        <span class="col-1">17.</span>
        <span class="col-8 col-md-9"><strong>Gebratener Reis</strong> mit Schweinefleisch und Gemüse*</span>
        <span class="col-2 text-right price">4.20€</span>
    </li>
    <li class="row">
        <span class="col-1">18.</span>
        <span class="col-8 col-md-9"><strong>Gebratener Reis</strong> mit gebackenem Hühnerfleisch* (süß-sauere Soße oder Pikante Soße nach Wahl)</span>
        <span class="col-2 text-right price">5.90€</span>
    </li>
    <li class="row">
        <span class="col-1">19.</span>
        <span class="col-8 col-md-9"><strong>Gebratener Reis</strong> mit knuspriger Ente (süß-sauere Soße oder Pikante Soße nach Wahl)*</span>
        <span class="col-2 text-right price">6.90€</span>
    </li>
    <li class="row">
        <span class="col-1">19A.</span>
        <span class="col-8 col-md-9"><strong>Nasi-Goreng</strong> gebratene Reis mit Hühner-, Schweinefleisch und Curry (leicht scharf)*</span>
        <span class="col-2 text-right price">5.20€</span>
    </li>
    <li class="row">
        <span class="col-1">19B.</span>
        <span class="col-8 col-md-9"><strong>Gebratener Reis</strong> mit Garnelen und Gemüse*</span>
        <span class="col-2 text-right price">6.90€</span>
    </li>
    <li class="row">
        <span class="col-1">19C.</span>
        <span class="col-8 col-md-9"><strong>Gebratener Reis</strong> mit Rindfleisch und Gemüse*</span>
        <span class="col-2 text-right price">5.90€</span>
    </li>
</ul>
{% include 'asialand/zusaetze.html'%}