<h3>Rind-Gerichte</h3>
<p>mit Reis als Beilage</p>
{% include 'asialand/amazon-iframe.html'%}
<ul class="p-0 no-styling">
    <li class="row">
        <span class="col-1">70.</span>
        <span class="col-8 col-md-9"><strong>Rindfleisch</strong> mit pikanter Soße und Gemüse(leicht scharf)*</span>
        <span class="col-2 text-right price">6.50€</span>
    </li>
    <li class="row">
        <span class="col-1">71.</span>
        <span class="col-8 col-md-9"><strong>Rindfleisch</strong> mit China-Curry und Gemüse (leicht scharf)*</span>
        <span class="col-2 text-right price">6.90€</span>
    </li>
    <li class="row">
        <span class="col-1">72.</span>
        <span class="col-8 col-md-9"><strong>Rindfleisch</strong> mit Thai-Curry,Kokosmilch und Gemüse (scharf)*</span>
        <span class="col-2 text-right price">6.90€</span>
    </li>
    <li class="row">
        <span class="col-1">73.</span>
        <span class="col-8 col-md-9"><strong>Rindfleisch</strong> mit süß-sauerer Soße und Ananas</span>
        <span class="col-2 text-right price">6.50€</span>
    </li>
    <li class="row">
        <span class="col-1">74.</span>
        <span class="col-8 col-md-9"><strong>Rindfleisch</strong> mit Chop-Suey Gemüse*</span>
        <span class="col-2 text-right price">6.50€</span>
    </li>
    <li class="row">
        <span class="col-1">75.</span>
        <span class="col-8 col-md-9"><strong>Rindfleisch</strong> mit Erdnuss-Soße und Gemüse*</span>
        <span class="col-2 text-right price">6.90€</span>
    </li>
    <li class="row">
        <span class="col-1">76.</span>
        <span class="col-8 col-md-9"><strong>Rindfleisch</strong> mit Zwiebeln und Paprika (pikant)*</span>
        <span class="col-2 text-right price">6.90€</span>
    </li>
</ul>
{% include 'asialand/zusaetze.html'%}