<h3>Beilagen</h3>
{% include 'asialand/amazon-iframe.html'%}
<ul class="p-0 no-styling">
    <li class="row">
        <span class="col-8 col-md-9">Gekochter Reis</span>
        <span class="col-3 text-right price">2.00€</span>
    </li>
    <li class="row">
        <span class="col-8 col-md-9">Pikante oder süß sauer Soße</span>
        <span class="col-3 text-right price">0.50€</span>
    </li>
    <li class="row">
        <span class="col-8 col-md-9">Erdnuss-, China Curry- oder Thai Curry Soße</span>
        <span class="col-3 text-right price">1.00€</span>
    </li>
</ul>

<h3>Getränke bei Lieferung</h3>
<ul class="p-0 no-styling">
    <li class="row">
        <span class="col-6 col-md-6">Cola, Cola light, Fanta, Sprite (Flasche)</span>
        <span class="col-2 text-right price">0,5l 2.20€</span>
        <span class="col-2 text-right price">1.0l 3.50€</span>
        <span class="col-2 text-right price">1.5l 4.50€</span>
    </li>
    <li class="row">
        <span class="col-8 col-md-9">Wein</span>
        <span class="col-3 text-right price">0,75l 6.00€</span>
    </li>

</ul>
{% include 'asialand/zusaetze.html'%}