<h3>Asialand Spezialität</h3>
<p>mit Reis als Beilage</p>
{% include 'asialand/amazon-iframe.html'%}
<ul class="p-0 no-styling">
    <li class="row">
        <span class="col-1">S1.</span>
        <span class="col-8 col-md-9"><strong>HONG-KONG ENTE:</strong> knusprige Ente und Hühnerfleisch, Gemüse in Hoisin-Soße (leicht scharf)*</span>
        <span class="col-2 text-right price">9.00€</span>
    </li>
    <li class="row">
        <span class="col-1">S2.</span>
        <span class="col-8 col-md-9"><strong>Acht Schätze:</strong> Enten-, Hühner-, Schweinefleisch mit Broccoli, Champignons, Paprika, Bambus, Karotte*</span>
        <span class="col-2 text-right price">8.50€</span>
    </li>
    <li class="row">
        <span class="col-1">S3.</span>
        <span class="col-8 col-md-9"><strong>Hühner-, Schweinefleisch</strong> mit Gemüse und Glasnudeln in Soße*</span>
        <span class="col-2 text-right price">6.90€</span>
    </li>
    <li class="row">
        <span class="col-1">S4.</span>
        <span class="col-8 col-md-9"><strong>Hühner-, Schweinefleisch</strong> mit Chop-Suey Gemüse*</span>
        <span class="col-2 text-right price">6.50€</span>
    </li>
    <li class="row">
        <span class="col-1">S5.</span>
        <span class="col-8 col-md-9"><strong>KANTON-Menü:</strong> Peking Guasch Suppe und Hühnerfleisch, Gemüse in Hoisin-Soße (pikant - leicht scharf)*</span>
        <span class="col-2 text-right price">7.50€</span>
    </li>
</ul>
{% include 'asialand/zusaetze.html'%}