<h3>Vorspeisen</h3>
<p>mit Reis als Beilage</p>
{% include 'asialand/amazon-iframe.html'%}
<ul class="p-0 no-styling">
    <li class="row">
        <span class="col-1">V1.</span>
        <span class="col-8 col-md-9"><strong>Verschiedenes Gemüse</strong> (gebraten)*</span>
        <span class="col-2 text-right price">5.00€</span>
    </li>
    <li class="row">
        <span class="col-1">V2.</span>
        <span class="col-8 col-md-9"><strong>Verschiedenes Gemüse</strong> in China Curry (leicht scharf)*</span>
        <span class="col-2 text-right price">5.00€</span>
    </li>
    <li class="row">
        <span class="col-1">V3.</span>
        <span class="col-8 col-md-9"><strong>Verschiedenes Gemüse</strong> und Glasnudeln in Soße*</span>
        <span class="col-2 text-right price">5.30€</span>
    </li>
    <li class="row">
        <span class="col-1">V4.</span>
        <span class="col-8 col-md-9"><strong>Vegitarische Mini-Frühlingsrollen</strong> mit Salat</span>
        <span class="col-2 text-right price">4.50€</span>
    </li>
</ul>
{% include 'asialand/zusaetze.html'%}