<h3>Vorspeisen</h3>
{% include 'asialand/amazon-iframe.html'%}
<ul class="p-0 no-styling">
    <li class="row">
        <span class="col-1">1.</span>
        <span class="col-8 col-md-9"><strong>Peking Gulasch-Suppe</strong> (saurer-scharf)*</span>
        <span class="col-2 text-right price">1.80€</span>
    </li>
    <li class="row">
        <span class="col-1">2.</span>
        <span class="col-8 col-md-9"><strong>Saigon Frühlingsrolle</strong> (2 Stück)*</span>
        <span class="col-2 text-right price">2.50€</span>
    </li>
    <li class="row">
        <span class="col-1">3.</span>
        <span class="col-8 col-md-9"><strong>Vegetarische Frühlingsrollen</strong> (6 Stück)*</span>
        <span class="col-2 text-right price">2.00€</span>
    </li>
    <li class="row">
        <span class="col-1">4.</span>
        <span class="col-8 col-md-9"><strong>Gemischter Salat</strong></span>
        <span class="col-2 text-right price">3.00€</span>
    </li>
    <li class="row">
        <span class="col-1">5.</span>
        <span class="col-8 col-md-9"><strong>Krabbenchips</strong></span>
        <span class="col-2 text-right price">2.00€</span>
    </li>
    <li class="row">
        <span class="col-1">6.</span>
        <span class="col-8 col-md-9"><strong>Gebackenes WAN-TAN*</strong></span>
        <span class="col-2 text-right price">2.00€</span>
    </li>
    <li class="row">
        <span class="col-1">7.</span>
        <span class="col-8 col-md-9"><strong>Hünerfleisch-Salat</strong></span>
        <span class="col-2 text-right price">4.00€</span>
    </li>
    <li class="row">
        <span class="col-1">8.</span>
        <span class="col-8 col-md-9"><strong>Hünerfleisch-Suppe*</strong></span>
        <span class="col-2 text-right price">2.00€</span>
    </li>
    <li class="row">
        <span class="col-1">8A.</span>
        <span class="col-8 col-md-9"><strong>Glasnudeln-Suppe</strong> mit Hühnerfleisch*</span>
        <span class="col-2 text-right price">2.00€</span>
    </li>
    <li class="row">
        <span class="col-1">8B.</span>
        <span class="col-8 col-md-9"><strong>Gemüse-Suppe</strong></span>
        <span class="col-2 text-right price">1.80€</span>
    </li>
</ul>
{% include 'asialand/zusaetze.html'%}